
.main {
	color: white;
	width: 500px;
	height:500px;
	background-color: #1492E8;
}
.main h2 {
	font-size: 40;
}

.main button {
	padding: 25px;
	background-color: #949494;
	border: none;
}

.main a {
	text-decoration: none;
	color: white;
}
